*{
	margin: 0;/* body-8px */
	text-decoration: none;
	padding: 0;/* ul */
	list-style: none;
	font-style: normal;
}
/* img默认有border大小，需要清除 */
img{
	border: 0;
	display: block;
}
form{
	display: block;
	margin: 0;
}
input{
	cursor: text;
    background-color: white;
}